.container{
    display: flex;
    margin-left: 150px;
    margin-top: 150px;
}
.leftDiv{
    background-color: rgb(247, 241, 241);
    float: left;
    width: 25%;
    border: 1px solid rgb(247, 241, 241);
    text-align: center;
    box-shadow: 1px 5px 5px 5px rgb(202, 199, 199), 1px 5px 5px 5px rgb(202, 199, 199);
}
.centerDiv{
    background-color: rgb(247, 241, 241);
    float: right;
    width: 25%;
    margin-left: 30px;
    border: 1px solid rgb(247, 241, 241);
    text-align: center;
    box-shadow: 1px 5px 5px 5px rgb(202, 199, 199), 1px 5px 5px 5px rgb(202, 199, 199);
}
.rightDiv{
    /* background-color: rgb(241, 229, 229); */
    float: right;
    width: 25%;
    margin-left: 30px;
    border: 1px solid rgb(247, 241, 241);
    text-align: center;
    box-shadow: 1px 5px 5px 5px rgb(202, 199, 199), 1px 5px 5px 5px rgb(202, 199, 199);
}
.player-name{
    color: green;
    font-size: 25px;
}
.player-score{
    color: indigo;
    margin-top: 40px;
    font-size: 60px;
    font-weight: 1000;
}
.current-score{
    color: red;
    margin-top: 30px;
    font-size: 35px;
    height: 70px;
}

@media only screen and (max-width: 1200px){
    .container{
        display: flex;
        margin-top: 4%;
        flex-direction: column;
    }
}

img{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 105px;
    height: 80px;
    width: 080px;
    border-radius: 100;
    box-shadow: 1px 5px 5px 5px rgb(202, 199, 199), 1px 5px 5px 5px rgb(202, 199, 199);
    border: 2px solid rgb(247, 241, 241);
}